*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
	--color-gray-01: #d5d5f2;
	--color-gray-02: #e2e2f5;
	--color-purple: #bf7bfb;
	--color-blue: #151557;
	--color-blue-light: #212187;
	--color-dark-blue: #000013;
}

body {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Outfit', sans-serif;
  color: var(--color-gray-01);

  background-image: url("./assets/Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  gap: 15.8rem;
}

section {
  display: flex;
  width: 23.75rem;
  flex-direction: column;
}

section h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%; /* 3rem */

  margin-bottom: 1.5rem;
}

section p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 140%; /* 1.75rem */
}

.buttons {
  margin-top: 3.5rem;
  
  display: flex;
  gap: 1rem;
}

button {
  background-color: var(--color-blue);
  border-radius: 62rem;

  border: none;
  padding: 0.75rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-gray-02);
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%; /* 1.225rem */
  
  transition: all .3s ease-in;
}

button:hover {
  background-color: var(--color-blue-light);
   cursor: pointer;
}

.imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
