* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  --bg-color: #6d67d0;
  --text-color: #c2bff4;
  --color-primary: #ffffff;
  --color-secundary: #dad8f7;
  --border-color: #6660c899;
  --color-span: #87ebcd;
}

body {
  font-size: 1.6rem;
  background: url("./assets/Projeto.png") no-repeat;
  background-size: cover;
  background-color: #8e87fa;
  color: var(--text-color);
}

#app {
  display: grid;
  grid-template-columns: 48rem 27.7rem 27.7rem;
  grid-template-rows: 1fr 21.2rem;

  gap: 2.4rem;
  margin: 13.8rem 14.4rem;
}

#app .wrapper {
  height: 48rem;
  width: 48rem;
  background-image: url('./assets/icons/backgroundTemperatureNow.svg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  position: relative;
  grid-row: 1 / 3; //Vai ocupar da linha 1 até a linha 3
}

.wrapper::before {
  position: absolute;
  content: '';
  width: 17.6rem;
  height: 17.6rem;
  top: -6rem;
  left: -6rem;
  background-image: url('./assets/icons/weather-bg.png');
  background-repeat: no-repeat;
}

.wrapper-location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3.2rem;
  gap: 0.4rem;
}

.wrapper-location img {
  width: 2rem;
  height: 2rem;
}

.wrapper-location span {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7rem;
}

.wrapper-temperature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  margin-top: 6rem;
}

.temperature {
  font-size: 8.8rem;
  font-weight: 700;
  line-height: 10.6rem;
  color: #ffffff;
  position: relative;
}

.temperature::after {
  content: "ºC";
  position: absolute;
  color: #dad8f7;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-family: 700;
  top: 2rem;
}

.wrapper-temperature span {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-primary);
}

.wrapper-statistics {
  height: 6rem;
  width: 45.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;

  margin: 12.5rem auto;
}

.wrapper-statistics .card {
  display: flex;
  align-items: center;
  padding: 1.2rem 1.6rem;
  gap: 1.2rem;

  width: 14.6rem;

  border-radius: 0.6rem;
  background-color: rgba(101, 96, 200, 0.212);

  color: var(--color-secundary);
}

.card img {
  width: 3.2rem;
  height: 3.2rem;
}

.card .weather-stats {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.card .weather-stats p {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.card .weather-stats strong {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

/* Air Quality */

.sun-time,
.air-quality {
  width: 27.7rem;
  height: 24.4rem;
  background-color: var(--bg-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 1rem;
}

.sun-time,
.air-quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sun-time .title,
.air-quality .title {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.8rem;
  margin: 3.2rem;
}

.sun-time .title img,
.air-quality .title img {
  width: 2.4rem;
  height: 2.4rem;
}

.sun-time .title h2,
.air-quality .title h2 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--color-secundary);
}

.air-quality .middleware {
  display: grid;
  justify-items: center;
}

.air-quality .middleware span {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--color-span);
}

.air-quality .middleware p {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;

  color: #ffffff;
}

.air-quality .info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.air-quality .card {
  display: grid;
  justify-items: center;
  gap: 0.2rem;
}

.air-quality .card span {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--color-span);
}

.air-quality .card p {
  color: #e7e6fb;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.sun-time .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 1.6rem;
}

.week {
  width: 57.8rem;
  height: 21.2rem;
  background-color: var(--bg-color);

  border: 0.1rem solid var(--border-color);
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.week .day {
  display: grid;
  justify-items: center;
  align-content: space-between;

  width: 9rem;
  height: 13.2rem;
}

.week .day h3 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--color-secundary);
}

.week .day  img {
  width: 6.4rem;
  height: 6.4rem;
}


.week .day span {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--color-primary);
}